---
layout: page
title: Add to Discord
---
<div style="text-align: center;">
    <h2>Redirecting...</h2>
    <a href="https://discordapp.com/oauth2/authorize?permissions=2146958463&scope=bot&client_id=230678273212940288" class="button special">Click here</a>
    <script type="text/javascript">
        window.location.href = "https://discordapp.com/oauth2/authorize?permissions=2146958463&scope=bot&client_id=230678273212940288"
    </script>
</div>