---
title: The Developers
layout: page
---
<section id="devs" class="wrapper alt style2" style="color: #ffffff">
    <section class="spotlight">
        <div class="image"><img src="images/minortombg.png" alt=""/></div>
        <div class="content">
            <h2 style="color: #ffffff">MinorTom</h2>
            <p>Developing is his hobby, goes to school. <br/><a class="button fit icon fa-home" style="color: #ffffff"
                                                                href="http://MinorTom.gitlab.io/">Homepage</a></p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="images/astrogdbg.jpg" alt=""/></div>
        <div class="content">
            <h2 style="color: #ffffff">AstroGD</h2>
            <p>Loves everything containing code. 15 Years old. Going to a hell called school.</p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="images/melbg.jpg" alt=""/></div>
        <div class="content">
            <h2 style="color:#ffffff;">Mel</h2>
            <p>Ich gehe zur Schule, programmieren ist mein hobby und ich bin 14 Jahre alt.</p>
        </div>
    </section>
</section>