---
title: Docs
layout: page
---
<div style="text-align: center;">
    <h2>Redirecting...</h2>
    <a href="http://flexdiscordbot.gitlab.io/Flex/docs/docs/" class="button special">Click here</a>
    <script type="text/javascript">
        window.location.href = "http://flexdiscordbot.gitlab.io/Flex/docs/docs/"
    </script>
</div>