---
layout: page
title: Download
---
<div style="text-align: center;">
    <h2>Redirecting...</h2>
    <a href="https://gitlab.com/FlexDiscordBot/Flex/tags" class="button special">Click here</a>
    <script type="text/javascript">
        window.location.href = "https://gitlab.com/FlexDiscordBot/Flex/tags"
    </script>
</div>