---
layout: landing
---
				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h2>{{ site.title }}</h2>
							<p>{{ site.description | markdownify }}</p>
							<ul class="actions">
								<li><a href="addtodiscord.html" class="button special">Add to Discord</a></li>
							</ul>
						</div>
						<a href="#start" class="more scrolly">Learn More</a>
					</section>
<div id="start"></div>
<!-- One --> <!--
					<section id="one" class="wrapper style1 special">
						<div class="inner">
							<header class="major">
								<h2>Arcu aliquet vel lobortis ata nisl<br />
								eget augue amet aliquet nisl cep </h2>
								<p>Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend<br />
								fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.</p>
							</header>donec
							<ul class="icons major">
								<li><span class="icon fa-diamond major style1"><span class="label">Lorem</span></span></li>
								<li><span class="icon fa-heart-o major style2"><span class="label">Ipsum</span></span></li>
								<li><span class="icon fa-code major style3"><span class="label">Dolor</span></span></li>
							</ul>
						</div>
					</section> -->

<!-- Two --> <!--
					<section id="two" class="wrapper alt style2">
						<section class="spotlight">
							<div class="image"><img src="images/pic01.jpg" alt="" /></div><div class="content">
								<h2>Magna primis lobortis<br />
								sed ullamcorper</h2>
								<p>Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.</p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="images/pic02.jpg" alt="" /></div><div class="content">
								<h2>Tortor dolore feugiat<br />
								elementum magna</h2>
								<p>Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.</p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="images/pic03.jpg" alt="" /></div><div class="content">
								<h2>Augue eleifend aliquet<br />
								sed condimentum</h2>
								<p>Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.</p>
							</div>
						</section>
					</section> -->

				<!-- Three -->
					<section id="three" class="wrapper style3 special">
						<div class="inner">
							<header class="major">
								<h2>Discord</h2>
								<p>Discord is an application to provide all-in-one Text and voice Chat (not only) for
									Gamers. It has many cool features, but its still missing some. We try to add these
									with our Bot. Here are some:</p>
								<h2>Features</h2>
							</header>
							<ul class="features">
                                <li class="icon fa-headphones">
                                    <h3>Music</h3>
                                    <p>Listen to some cool songs on youtube while you talk.</p>
								</li>
                                <li class="icon fa-ban">
                                    <h3>Moderation</h3>
                                    <p>Tired of always asking in the Team who banned that person and why? Flex lets you
                                        announce the ban and the reason.</p>
								</li>
								<li class="icon fa-cogs">
									<h3>Settings</h3>
									<p>Turn settings on and off with simple commands.</p>
								</li>
								<li class="icon fa-mouse-pointer">
									<h3>Web Site for Config [COMING SOON]</h3>
									<p>Change settings with only one Klick.</p>
								</li>
								<li class="icon fa-heart-o">
									<h3>Aenean Primis</h3>
									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
								</li>
								<li class="icon fa-flag-o">
									<h3>Tortor Ut</h3>
									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
								</li>
							</ul>
						</div>
					</section>

				<!-- CTA -->
					<section id="cta" class="wrapper style4">
						<div class="inner">
							<header>
								<h2>Open Source</h2>
								<p>The Bot is Open-Source, so you can Develop with us or self-host it.</p>
							</header>
							<ul class="actions vertical">
								<li><a href="source.html" class="button fit special">View Source</a></li>
								<li><a href="docs.html" class="button fit">Docs</a></li>
								<li><a href="developer.html" class="button fit">Devs</a></li>
							</ul>
						</div>
					</section>
