---
layout: page
title: Source
---
<div style="text-align: center;">
    <h2>Redirecting...</h2>
    <a href="http://gitlab.com/FlexDiscordBot" class="button special">Click here</a>
    <script type="text/javascript">
        window.location.href = "http://gitlab.com/FlexDiscordBot"
    </script>
</div>