<!-- Scripts -->
<script src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.scrollex.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.scrolly.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/skel.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/util.js" | prepend: site.baseurl }}"></script>
<!--[if lte IE8]><script src="{{ "/js/ie/respond.min.js" | prepend: site.baseurl }}"></script><![endif]-->
<script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
<!-- Cookie Consent by http://PrivacyPolicies.com -->
    <script type="text/javascript" src="//privacypolicies.com/cookie-consent/releases/latest/cookie-consent.js"></script>
<script type="text/javascript">
    $(function(){
        var cookieconsent = $.cookieconsent({
            default_level_id: 'tracking',
            edit_settings_element: $('#edit-cookie-settings'),
            cookie_policy_url: 'http://privacypolicies.com/privacy/view/lxVEyv',
            levels:[
                {
                    id: 'strictly-necessary',
                    title: 'Strictly necessary',
                    permissions: ['Remember what is in your shopping basket', 'Remember how far you are through an order', 'Remember if youre logged in', 'Use Cookies from websites we use assets from', 'Several other session based'],
                    callback: function(){ /* put your level code here. This is the base level and will be executed on every page load. */ }
                },
                {
                    id: 'tracking',
                    title: 'Tracking',
                    permissions: ['Use tracking tools', 'Display tracking ads', 'Display comments via Disqus'],
                    callback: function(){ /* put your level code here. */
                        var disqus_developer = 1;
                        /**
                         *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                         *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                        /*
                         var disqus_config = function () {
                         this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                         this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                         };
                         */
                        (function() { // DON'T EDIT BELOW THIS LINE
                            var d = document, s = d.createElement('script');
                            s.src = '//minortomwebpage.disqus.com/embed.js';
                            s.setAttribute('data-timestamp', +new Date());
                            (d.head || d.body).appendChild(s);
                        })();
                    }
                }
            ]
        });
    });
</script>
<noscript><a href="http://privacypolicies.com">Powered by PrivacyPolicies.com</a></noscript>
<!-- End Cookie Consent -->